/* look up transition and transform */
body {
    background-image: url("images/cartmanBG.jpg");
    background-position: center;
    margin: 0;
}


/* HEADER */
header {
    background-color: slateblue;
    position: fixed;
    width: 100%;
    top: 0;
    opacity: .9;
    padding-bottom: 15px;
    padding-top: 10px;
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    letter-spacing: 10px;
    text-shadow: 5px 5px black;
    margin: 0;

}


/* MAIN SECTION WITH KEY BUTTONS */
.keys {
    text-align: center;
    position: relative;
    margin-top: 200px;
    
}

.key {
    padding: 10px;
    margin: 20px;
    display: inline-block;
    color: antiquewhite;
    font-family: 'Amatic SC', cursive;
    /* font-size: 20px; */
    font-weight: bold;
    border: outset white 4px;
    text-shadow: 2px 2px black;
}

kbd {
    display: block;
    font-size: 30px;
}

span {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 21px;
}


/* FOOTER */
footer {
    opacity: .8;
    text-align: center;
    padding-top: 20px;
    background-color: orange;
    color: midnightblue;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    text-shadow: 1px 1px black;
    letter-spacing: 2px;
}